* {
  font-family: Arial, Helvetica, sans-serif;
}
.permanente {
  background: linear-gradient(rgb(203, 33, 246), 10%, rgb(252, 247, 250));
  padding: 5px 5px 0px 5px;
}
.contenedorPermanente {
  width: 100%;
}
.contenedorPermanente img {
  width: 100%;
}
/* botones de navegacion de pestañas */
.botonesNav {
  margin-top: 5px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.botonesNav .btn {
  background-color: #bbb5b5;
  border: solid 2px rgb(145, 146, 146);
  font-size: 14px;
  transition: all 0.5s;
  font-family: Arial, Helvetica, sans-serif;
  width: 140px;
}
.btn:hover {
  opacity: 0.7;
}

@media (width>425px) {
  .contenedorPermanente img {
    height: 300px;
  }
  .botonesNav .btn {
    font-size: 16px;
    width: 150px;
  }
  .permanente {
    padding: 10px 10px 0px 10px;
  }
}

@media (width>425px) {
  .contenedorPermanente img {
    height: 400px;
  }
  .permanente {
    padding: 20px 20px 0px 20px;
  }
  .botonesNav .btn {
    font-size: 18px;
    width: 170px;
  }
}
