/* seccion de estilos de pestañaprincipal de educacion bilingue */
* {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.titulo {
  font-size: 22px;
}
.texto {
  text-align: left;
  font-size: 16px;
}

@media (min-width: 426px) {
  .titulo {
    font-size: 26px;
  }
  .texto {
    font-size: 18px;
  }
  .lista li {
    font-size: 18px;
  }
}

@media (min-width: 769px) {
  .titulo {
    font-size: 26px;
  }
  .texto {
    font-size: 22px;
  }
  .lista li {
    font-size: 18px;
  }
}
